
@{
    ViewBag.Title = "Index2";
}

<h1>GET</h1>
<p>
    GET is used to request data from a specified resource.
</p>
<h2>POST</h2>
<p>
    POST is used to send data to a server to create/update a resource.
</p>
<h3>PUT</h3>
<p>
    PUT is used to send data to a server to create/update a resource.
</p>
<h4>DELETE</h4>
<p>
    The DELETE method deletes the specified resource.
</p>
<h5>OPTIONS</h5>
<p>
    The OPTIONS method describes the communication options for the target resource.
</p>
