@Model IEnumerable<SampleMvc.Models.IndexModel>
    @{
        ViewBag.Title = "Index";
    }

    <h2>this is the Index</h2>

    <h1>hiii</h1>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Description</td>
                <td>Components</td>
            </tr>
        </thead>
        @foreach (SampleMvc.Models.IndexModel item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Description</td>
                <td>@item.Comments</td>

            </tr>

        }

        <h1>hiii</h1>
    </table>
    <h1>hiii</h1>
    <a href="Index1.cshtml">Goto Next Page</a>




